
<header>
  <div class="jumbotron" style="background-color: #ffffff; padding: 0;">
      <h1 style="text-align: center;">TURINGMACHINE</h1>
  </div>
</header>
<br>
<div id="container4">

  <div class="row well"  style="padding:0;">
    <ts-animation [isPlayBtnVisible]="isPlayBtnVisible" (eventStateDiagram)="setStateDiagram($event)"></ts-animation>
  </div>
  <div class="row">
    <div class="col-md-12" style="text-align:center;">
      <load-example (onLoaded)="setExample($event)"></load-example>
    </div>

    <div class="col-md-12" style="margin-top:0.5%;" *ngIf="isCompileError">
      <div class="alert alert-danger" role="alert">
        <strong>{{errorMessage}}</strong>
      </div>

    </div>


    <div class="col-md-12" style="padding:0;">

      <ul class="nav nav-tabs" style="margin-bottom: 0;">
        <li class="active"><a data-toggle="tab" href="#editor">Editor</a></li>
        <li><a data-toggle="tab" href="#statistic">State Diagram</a></li>
      </ul>

      <div class="tab-content" style="border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    " >
        <div id="editor" class="tab-pane fade in active">
          <form>
          <div class="panel panel-default" style=" margin: auto; width:68%; margin-top: 2%; margin-bottom:0;" >
            <ts-editor [exampleData]="exampleCode" (codeChanges)="codeChange($event)"></ts-editor>
          </div>

          <button type="button" class="btn btn-primary btn-lg btn-block" style="width: 68%; margin:auto;" (click)="compile()">Compile</button>
          </form>
        </div>
        <div id="statistic" class="tab-pane fade">
          <ts-chart [stateDiagram]="stateDiagram" ></ts-chart>
        </div>

      </div>
    </div>

  </div>


</div>




<br><br><br>
