
<header>
  <div class="jumbotron" style="background-color: #ffffff; padding: 0;">
      <h1 style="text-align: center;">TURINGSIMULATOR</h1>
  </div>
</header>
<div id="container4">

  <div class="row well"  style="padding:0;">
    <ts-animation [turingExampleName]="exampleName"  [isPlayBtnVisible]="isPlayBtnVisible" (eventStateDiagram)="setStateDiagram($event)" (eventWordStatus)="setWordStatus($event)" ></ts-animation>
  </div>
  <div class="row">
    <div class="col-md-12" style="text-align:center;">
      <load-example (onLoaded)="setLoadExample($event)"></load-example>
    </div>

    <div class="col-md-12" style="margin-top:0.5%;">
      <div class="alert alert-danger" role="alert" *ngIf="isCompileError">
        <strong>{{errorMessage}}</strong>
      </div>

      <div class="alert alert-danger" *ngIf="isFail">
        Not working!
      </div>
      <div class="alert alert-success" *ngIf="isSuccess">
        Success!
      </div>

    </div>


    <div class="col-md-12" style="padding:0;">

      <div style="border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    " >
        <tabset>
        <tab heading="Editor">
            <form>
          <div class="panel panel-default" style=" margin: auto; width:68%; margin-top: 2%; margin-bottom:0;" >
            <ts-editor [exampleData]="exampleCode" (codeChanges)="codeChange($event)"></ts-editor>
          </div>
            <button type="button" class="btn btn-primary btn-lg btn-block" style="width: 68%; margin:auto;" (click)="compile()">Compile</button>
            </form>
        </tab>

          <tab heading="State Diagram">
              <ts-chart [stateDiagram]="stateDiagram" ></ts-chart>

          </tab>


        </tabset>
      </div>
    </div>

  </div>

</div>
<br><br>
<app-about></app-about>
<br>

